<div>
    <form action="">
        <input type="text" name="" id="" placeholder="email">
        <input type="text" name="" id="" placeholder="password">
        <input type="text" name="" id="" placeholder="password confirmation">
        <button>Sign Up</button>
    </form>
</div>